body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 0px;
    height: 100%;
}

html {
    height: 100%;
}

.header__icon {
    height: inherit;
    margin-left: 15%;
    padding: 5px;
    height: 60px;
}

.header {
    display: flex;
    background-color: coral;
    flex-direction: row;
    min-width: max-content;
}

.box_style {
    padding: 20px;
}

.header_title {
    margin: auto 0;
}

.body_style {
    display: flex;
    justify-content: center;
}

.cartochka{
    width: 200px;
}